[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/wayland-cxx-scanner"]
	path = extern/wayland-cxx-scanner
	url = https://github.com/jwinarske/wayland-cxx-scanner.git
