build/
build-native/
libcamera-dmabuf-capture
*.raw
README.md
README.md
README.md
*.md
!flutter/**/*.md
scripts/__pycache__/calibrate_intrinsics.cpython-310.pyc
extern/

# JetBrains project files
.idea/
